.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	gap: 20px;
}

.divider {
	height: 20px;
}

.social {
	flex: 1;
	display: flex;
	gap: 10px;
}

.links {
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 20px;
}

/* .logo {
	flex: 2;
} */

.logoImage {
	width: 100px;
	height: auto;
}

@media screen and (width <= 1280px) {
	.links {
		font-size: 18px;
		gap: 15px;
	}
}

@media screen and (width <= 1024px) {
	.social {
		display: none;
	}

	.logo {
		text-align: left;
	}
}

@media screen and (width <= 640px) {
	.container {
		justify-content: space-around;
	}

	.link {
		display: none;
	}

	.links {
		align-items: flex-end;
	}

	.divider {
		display: none;
	}
}
